minimum_pre_commit_version: 2.17.0
repos:

    - repo: meta
      hooks:
          - id: check-useless-excludes

    # accept proper type annotations only
    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.9.0  # Use the ref you want to point at
      hooks:
          - id: python-use-type-annotations
          - id: python-check-blanket-noqa
    # bandit
    - repo: https://github.com/PyCQA/bandit
      rev: '1.8.6'
      hooks:
          - id: bandit
            args: [ "-c", ".bandit" ]

    # static type checking with mypy
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.9.0
      hooks:
          - id: mypy

    - repo: https://github.com/pycqa/flake8
      rev: '7.0.0'  # pick a git hash / tag to point to
      hooks:
          - id: flake8

    # shell scripts
    - repo: https://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint
            args: [ --format=json ]

    - repo: https://github.com/igorshubovych/markdownlint-cli
      rev: v0.31.1
      hooks:
          - id: markdownlint

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: check-added-large-files
          - id: check-docstring-first
          - id: debug-statements
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: check-ast
          - id: check-builtin-literals
          - id: detect-private-key
          - id: mixed-line-ending

    - repo: https://github.com/adrienverge/yamllint
      rev: v1.26.3
      hooks:
          - id: yamllint

    - repo: https://github.com/syntaqx/git-hooks
      rev: v0.0.17
      hooks:
          - id: shellcheck
          - id: shfmt
            args:
              - "-w"
