name: Auto Assign to Honeybadger board

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@RELEASE_VERSION
        if: github.event.action == 'opened'
        with:
          project-url: https://github.com/orgs/giantswarm/projects/320
          github-token: ${{ secrets.MY_GITHUB_TOKEN }}
